/* Basic Reset */
body, h1, p, ul, li, nav, main, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --light-blue: #9CC4E8;
  --white-blue: #D9E3F6;

  /* Secondary Colors */
  --red: #74172D;
  --light-orange: #F1AD2E;
  --light-yellow: #F3C342;

  /* Grayscale */
  --black: #121212;
  --dark-gray: #3D3D3D;
  --mid-dark-gray: #4D4D4D;
  --medium-gray: #ACACAC;
  --light-gray: #EBEBEB;
  --white: #FCFCFC;
}

h2, p, button, input, a, label {
  font-family: Open Sans, sans-serif;
}

h1, h2, h3 {
  line-height: 1.25em;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-weight: bolder;
  font-size: 20px;
}

p {
  line-height: 1.3em;
}

body {
  line-height: 1.6em;
  color: var(--black);
  background: var(--white);
}

main, footer {
  padding: 1rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main {
  padding: 20px;
  background: var(--white);
  flex: 1;
}

footer {
  background: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: 10px;
  width: 100%;
}

footer p {
  padding: 10px;
  margin: 0;
}
