<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NoAuth{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/public.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jsoneditor@10.1.0/dist/jsoneditor.min.js" integrity="sha256-a3eSI/lECQPtjYSlyFNeY7HYRo29bWrtQsIkGh3kE48=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@10.1.0/dist/jsoneditor.min.css" integrity="sha256-4V053HdAjQjEf/Vbc8uTc9nXlfe1zEdyvnJrCyi19e0=" crossorigin="anonymous">
    {% block head %}{% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
      <p>This is the main content section.</p>
      {% endblock %}
    </main>

    <footer>
      {% block footer %}
      <p>For demos and testing only.</p>
      {% endblock %}
    </footer>
  </body>
</html>
